$primary-color: #DDDDDD; 
$text-color: #ffffff;
$border-color: #134880;

$border-primary: 1px solid $text-color;

$fontHelvetica: 'HelveticaNeue', sans-serif;
$fontSansPro: 'Source Sans Pro', sans-serif;